VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyN2nv3NpuKxmbUKzKBMM4y-u44fkBK1O05Rp6vOFHNt33mA5anqvMN4sNWNpg_SiXslg/exec
VITE_KPI_KRA_APPSCRIPT_URL=https://script.google.com/macros/s/AKfycbyN2nv3NpuKxmbUKzKBMM4y-u44fkBK1O05Rp6vOFHNt33mA5anqvMN4sNWNpg_SiXslg/exec
VITE_DRIVE_FOLDER_ID=10-mJ-H5P0jp67gX0A7gc6TGlyyku3thB
